
v1/venv

v1/server/core/settings.py

v1/web/webui/package-lock.json
v1/web/webui/node_modules
v1/web/webui/.env
v1/web/webui/env
v1/server/media/images
v1/web/webui/node_modules 2/
v1/server/recipes/__pycache__